body {
    margin: 0px;
    padding: 0px;
    /*overflow: hidden;*/
    font-family: monospace;
}

.slide {
    -webkit-appearance: none;
    width: 80px;
    height: 15px;
    border-radius: 8px;
    background-color: red;
}